.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: rgb(75, 112, 157);
}

.direction {
    font-family: Times New Roman, serif;
    font-size: 14px;
    color: rgb(161, 73, 145);
    background-color: rgb(136, 127, 177);
}

.direction:hover {
    background-color: rgb(148, 152, 158);
    color: rgb(41, 11, 35);
}

.MrsStockmann {
    color: rgb(31, 184, 158);
}
.mortenkiil {
  color: rgb(74, 99, 4);
}

.DrStockmann {
    color: rgb(50, 11, 226)
}
.EnemyAct {
    border: 1px solid;
    border-collapse: collapse;
    margin:1px;
  }
  
  .EnemyAct th {
    text-align: center; 
    padding: 10px;
  }
  
  .EnemyAct td {
    text-align: center;
    padding: 10px;
  }
  
  .EnemyAct tr:nth-child(even) {
    background-color: #aec5c1;
  }
  
  .EnemyAct tr:hover {
    background-color: #189054;
  }
  .MrsStockmann:hover {
    box-shadow: 0 0 6px rgba(13, 3, 3, 0.5);
    border: 2px rgb(147, 180, 26);
    border-style: dotted;
    text-shadow: 3px 3px 5px rgb(88, 88, 141);
    filter: blur(0.5px);
  }
  .DrStockmann:hover{
    box-shadow: 0 0 6px rgba(255, 0, 0, 0.5);
    border: 2px rgb(133, 64, 64);
    text-shadow: 3px 3px 5px blueviolet;
    filter: blur(0.5px);
    border-style: inset;
  }
  .mortenkiil:hover{
    box-shadow: 0 0 6px rgba(244, 114, 114, 0.5);
    border: 2px rgb(96, 42, 42);
    border-style: dotted;
    text-shadow: 3px 3px 5px blue;
    filter: blur(0.5px);
  }

  
ul.navbar-horizontal {
  /* remove these */
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  ul.navbar-horizontal li {
  float:left; /* line up horizontally */
  color:#000;
  background-color:aquamarine
  }
  ul.navbar-horizontal a {
  display:block;
  padding:8px
  }
  