.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: rgb(75, 112, 157);
}

.direction {
    font-family: Times New Roman, serif;
    font-size: 14px;
    color: rgb(161, 73, 145);
    background-color: rgb(136, 127, 177);
}

.direction:hover {
    background-color: rgb(148, 152, 158);
    color: rgb(41, 11, 35);
}

.MrsStockmann {
    color: rgb(31, 184, 158);
}

.DrStockmann {
    color: rgb(50, 11, 226)
}
.EnemyAct {
    border: 1px solid;
    border-collapse: collapse;
    margin:1px;
  }
  
  .EnemyAct th {
    text-align: center; 
    padding: 10px;
  }
  
  .EnemyAct td {
    text-align: center;
    padding: 10px;
  }
  
  .EnemyAct tr:nth-child(even) {
    background-color: #aec5c1;
  }
  
  .EnemyAct tr:hover {
    background-color: #189054;
  }
